<div class="container">
  <div class="row align-items-center">
    <!-- Single Widget Area -->
    <div class="col-12 col-lg-4">
      <div class="single_widget_area">
        <!-- Logo -->
        <div class="footer-logo mr-50">
          <a href="/"><img src="/img/core-img/logo2.png" alt=""></a>
        </div>
        <!-- Copywrite Text -->
        <p class="copywrite">
          Copyright &copy;<script>
            document.write(new Date().getFullYear());
          </script> <br> High quality powdered coffee from Nohasa
        </p>
      </div>
    </div>
    <!-- Single Widget Area -->
    <div class="col-12 col-lg-8">
      <div class="single_widget_area">
        <!-- Footer Menu -->
        <div class="footer_menu">
          <nav class="navbar navbar-expand-lg justify-content-end">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent"
              aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i
                class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="footerNavContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <!-- <a class="nav-link" href="shop.html">Shop</a> -->
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Product</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cart</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Checkout</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>