    /* ####################################################
    :: Template Name: Essence - Fashion Ecommerce Template
    :: Author: Colorlib
    :: Author URL: https://colorlib.com
    :: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
    :: Version: 1.0.0
    :: Created: April 27, 2018
    :: Last Updated: May 2, 2018
    #################################################### */

    /* ---------------------------------------
    ##### - PLACE YOUR CUSTOM CSS HERE - #####
    --------------------------------------- */

    .hidden-description {
        visibility: hidden
    }

    img.lazy {
        display: block;
        /* optional way, set loading as background */
        background-image: url('../img/loading.gif');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    .pulse-primary {
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
        animation: pulse-primary 3s infinite;
    }

    .pulse-primary:hover {
        color: rgba(255, 255, 255, 1) !important;
    }

    @-webkit-keyframes pulse-primary {
        0% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, 0);
        }

        100% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
            color: rgba(255, 255, 255, 1);
        }
    }

    @keyframes pulse-primary {
        0% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
            box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, 0);
            box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, 0);
        }

        100% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
            box-shadow: 0px 0px 20px 5px rgba(0, 170, 255, .8);
            color: rgba(255, 255, 255, 1);
        }
    }


    .pulse-warning {
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, .8);
        animation: pulse-warning 2.5s infinite;
    }

    .pulse-warning:hover {
        color: rgba(255, 255, 255, 1) !important;
    }

    @-webkit-keyframes pulse-warning {
        0% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, 0);
        }

        100% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, .8);
            color: rgba(255, 255, 255, 1);
        }
    }

    @keyframes pulse-warning {
        0% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, .8);
            box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, 0);
            box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, 0);
        }

        100% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, .8);
            box-shadow: 0px 0px 20px 5px rgba(255, 170, 0, .8);
            color: rgba(255, 255, 255, 1);
        }
    }


    .pulse-default {
        color: rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, .8);
        animation: pulse-default 3.2s infinite;
    }

    .pulse-default:hover {
        color: rgba(0, 0, 0, 1) !important;
    }

    @-webkit-keyframes pulse-default {
        0% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, .8);
            color: rgba(0, 0, 0, 1);
        }

        70% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, 0);
        }

        100% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, .8);
            color: rgba(0, 0, 0, 1);
        }
    }

    @keyframes pulse-default {
        0% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, .8);
            box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, .8);
            color: rgba(0, 0, 0, 1);
        }

        70% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, 0);
            box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, 0);
        }

        100% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, .8);
            box-shadow: 0px 0px 20px 5px rgba(245, 245, 245, .8);
            color: rgba(0, 0, 0, 1);
        }
    }


    .pulse-danger {
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, .8);
        animation: pulse-danger 2.7s infinite;
    }

    .pulse-danger:hover {
        color: rgba(255, 255, 255, 1) !important;
    }

    @-webkit-keyframes pulse-danger {
        0% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, 0);
        }

        100% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, .8);
            color: rgba(255, 255, 255, 1);
        }
    }

    @keyframes pulse-danger {
        0% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, .8);
            box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, 0);
            box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, 0);
        }

        100% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, .8);
            box-shadow: 0px 0px 20px 5px rgba(255, 63, 58, .8);
            color: rgba(255, 255, 255, 1);
        }
    }


    .pulse-success {
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, .8);
        animation: pulse-success 3.5s infinite;
    }

    .pulse-success:hover {
        color: rgba(255, 255, 255, 1) !important;
    }

    @-webkit-keyframes pulse-success {
        0% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, 0);
        }

        100% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, .8);
            color: rgba(255, 255, 255, 1);
        }
    }

    @keyframes pulse-success {
        0% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, .8);
            box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, 0);
            box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, 0);
        }

        100% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, .8);
            box-shadow: 0px 0px 20px 5px rgba(45, 220, 45, .8);
            color: rgba(255, 255, 255, 1);
        }
    }


    .pulse-info {
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, .8);
        animation: pulse-info 3.7s infinite;
    }

    .pulse-info:hover {
        color: rgba(255, 255, 255, 1) !important;
    }

    @-webkit-keyframes pulse-info {
        0% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, 0);
        }

        100% {
            -webkit-box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, .8);
            color: rgba(255, 255, 255, 1);
        }
    }

    @keyframes pulse-info {
        0% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, .8);
            box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, .8);
            color: rgba(255, 255, 255, 1);
        }

        70% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, 0);
            box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, 0);
        }

        100% {
            -moz-box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, .8);
            box-shadow: 0px 0px 20px 5px rgba(125, 249, 255, .8);
            color: rgba(255, 255, 255, 1);
        }
    }

    .switchToggle input[type=checkbox] {
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute;
    }

    .switchToggle label {
        cursor: pointer;
        text-indent: -9999px;
        width: 70px;
        max-width: 70px;
        height: 30px;
        background: #e41111;
        display: block;
        /* border-radius: 100px; */
        position: relative;
    }

    .switchToggle label:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 2px;
        width: 26px;
        height: 26px;
        background: #fff;
        /* border-radius: 90px; */
        transition: 0.3s;
    }

    .switchToggle input:checked+label,
    .switchToggle input:checked+input+label {
        background: #3e98d3;
    }

    .switchToggle input+label:before,
    .switchToggle input+input+label:before {
        content: 'VI';
        position: absolute;
        top: 5px;
        left: 35px;
        width: 26px;
        height: 26px;
        /* border-radius: 90px; */
        transition: 0.3s;
        text-indent: 0;
        color: #fff;
    }

    .switchToggle input:checked+label:before,
    .switchToggle input:checked+input+label:before {
        content: 'EN';
        position: absolute;
        top: 5px;
        left: 10px;
        width: 26px;
        height: 26px;
        /* border-radius: 90px; */
        transition: 0.3s;
        text-indent: 0;
        color: #fff;
    }

    .switchToggle input:checked+label:after,
    .switchToggle input:checked+input+label:after {
        left: calc(100% - 2px);
        transform: translateX(-100%);
    }

    .switchToggle label:active:after {
        width: 60px;
    }

    .toggle-switchArea {
        margin: 10px 0 10px 0;
    }