<form class="cart clearfix" onsubmit="return false">
  <div class="cart-btn d-flex mb-50">
    <p>Quantity</p>
    <div class="quantity">
      <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) && qty > 1 ) effect.value--;return false;"><i
          class="fa fa-caret-down" aria-hidden="true"></i></span>
      <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
      <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
          class="fa fa-caret-up" aria-hidden="true"></i></span>
    </div>
  </div>
  <button name="addtocart" class="btn amado-btn" onclick="addToCart('<%= productId %>', '<%= productName %>')">Add to
    cart</button>
</form>