<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/_header %>
</head>

<body>
  <!-- Search Wrapper Area Start -->
  <% include ../layouts/_search %>
  <!-- Search Wrapper Area End -->

  <!-- ##### Main Content Wrapper Start ##### -->
  <div class="main-content-wrapper d-flex clearfix">
    <!-- start side bar -->
    <% include ../layouts/_sidebar %>
    <!-- end of side bar -->

    <!-- Product Details Area Start -->
    <div class="single-product-area section-padding-100 clearfix">
      <div class="container-fluid">

        <% include _navigate %>

        <div class="row">
          <div class="col-12 col-lg-7">
            <div class="single_product_thumb">
              <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url(<%=listImages[0].imageURL%>);">
                  </li>
                  <% for (var i=1; i < listImages.length; i++) { %>
                  <li data-target="#product_details_slider" data-slide-to="<%=i%>" style="background-image: url(<%=listImages[i].imageURL%>);">
                  </li>
                  <%}%>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <a class="gallery_img" href="<%=listImages[0].imageURL%>">
                      <img class="d-block w-100" src="<%=listImages[0].imageURL%>" alt="<%=listImages[0].altName%>">
                    </a>
                  </div>
                  <% for (var i=1; i < listImages.length; i++) { %>
                  <div class="carousel-item">
                    <a class="gallery_img" href="<%=listImages[i].imageURL%>">
                      <img class="d-block w-100" src="<%=listImages[i].imageURL%>" alt="<%=listImages[i].altName%>">
                    </a>
                  </div>
                  <%}%>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-5">
            <div class="single_product_desc">
              <!-- Product Meta Data -->
              <div class="product-meta-data">
                <div class="line"></div>
                <p class="product-price">
                  <%= price %>
                </p>
                <a href="product-details.html">
                  <h6>
                    <%= productName %>
                  </h6>
                </a>
                <!-- Ratings & Review -->
                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                  <div class="ratings">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                  </div>
                  <div class="review">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal">
                      Write A Review
                    </button>
                  </div>
                </div>
                <!-- Avaiable -->
                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                <!-- <p class="unavaibility"><i class="fa fa-circle"></i> Out of Stock</p> -->
              </div>

              <div class="short_overview my-5">
                <p>
                  <%= description %>
                </p>
              </div>

              <!-- Add to Cart Form -->
              <% include _add-to-cart-form %>
              <!-- End of Add to Cart Form -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Product Details Area End -->
  </div>
  <!-- ##### Main Content Wrapper End ##### -->

  <!-- ##### Newsletter Area Start ##### -->
  <% include ../layouts/_subscribeArea %>
  <!-- ##### Newsletter Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <footer class="footer_area clearfix">
    <% include ../../partials/_footer %>
  </footer>
  <!-- ##### Footer Area End ##### -->

  <% include ../../partials/_scriptLoader %>

  <% include _reviewModal %>

  <script src="/js/chat.js"></script>
</body>

</html>