<div class="search-wrapper section-padding-100">
  <div class="search-close">
    <i class="fa fa-close" aria-hidden="true"></i>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="search-content">
          <form action="/search" method="GET">
            <input type="search" name="search" id="search" placeholder="Type your keyword...">
            <button><img src="/img/core-img/search.png" alt="" onclick="return search()"></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>