<div class="products-catagories-area clearfix">
    <div class="amado-pro-catagory clearfix">

        <% if(products.length <= 0){ %>
        <% include ../../partials/_404 %>
        <% } else { %>
        <!-- Single Catagory -->
        <% products.forEach (product => { %>
        <% if (product.isHomePageImg === 1) { %>
        <div class="single-products-catagory clearfix" onmouseover="showDescription('<%= product.altName %>')"
            onmouseout="hideDescription('<%= product.altName %>')">
            <a href="#">
                <img src="<%= product.imageURL %>" alt="<%= product.altName %>">
                <!-- Hover Content -->
                <div class="hover-content">
                    <div class="line"></div>
                    <p>
                        VND
                        <%= product.price %>
                    </p>
                    <h4>
                        <%= product.name %>
                    </h4>
                    <div class="hidden-description" id="<%= product.altName %>">
                        <p>
                            <%= product.description %>
                        </p>
                        <button type="button" class="btn btn-outline-info" id="add-to-cart-btn" onclick="return addToCart('<%= product.id %>', '<%= product.name %>')">Add
                            to cart</button>
                        <button type="button" class="btn btn-outline-info" onclick="return window.location.href='products/<%= product.altName %>'">View
                            Details</button>
                    </div>
                </div>
            </a>
        </div>
        <% } %>

        <% }) %>
        <% } %>
    </div>
</div>