<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../../partials/_header %>
</head>

<body>
  <!-- Search Wrapper Area Start -->
  <% include ../layouts/_search %>
  <!-- Search Wrapper Area End -->

  <!-- ##### Main Content Wrapper Start ##### -->
  <div class="main-content-wrapper d-flex clearfix">
    <!-- start side bar -->
    <% include ../layouts/_sidebar %>
    <!-- end of side bar -->

    <!-- Product Catagories Area Start -->
    <% include _product %>
    <!-- Product Catagories Area End -->

    <!-- <button id="btn-getInTouch">Chat</button> -->

  </div>
  <!-- ##### Main Content Wrapper End ##### -->

  <!-- ##### Newsletter Area Start ##### -->
  <!-- _subscribeArea goes here -->
  <!-- ##### Newsletter Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <footer class="footer_area clearfix">
    <% include ../../partials/_footer %>
  </footer>
  <!-- ##### Footer Area End ##### -->

  <% include ../../partials/_scriptLoader %>

  <script src="/js/chat.js"></script>

</body>

</html>